# Database（ローカル開発時のみ。Docker は docker-compose で上書き）
DATABASE_URL=

# JWT
JWT_SECRET=

# google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# ngrok (make ngrok 用)
NGROK_AUTHTOKEN=

APP_URL=