{
	"useTabs": true,
	"overrides": [
		{
			"files": "*.{json,yml}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	],
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf"
}
